  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h3>Why is Labour Southwark making concessions on its planning policy and promising CPO powers to an offshore tax-dodging developer whose owners are among the Tory party's top donors?</h3>
              <img src="http://betterelephant.github.io/images/KimHumphriesCentre_PeterJohnLeft_FionaColleyRight.jpg" width="400">
              <h2>Don't let Delancey destroy the Elephant - object now!</h2>
              <a href="http://35percent.org/boxpark" class="btn btn-default btn-xl wow tada">Object Now!</a>
          </div>
      </div>
  </aside>
