<style>
body { background-color:blue; }
.highlightme { background-color:#FFFF00; }
p { background-color:#FFFFFF; }
</style>
<header>
    <div class="header-content">
        <div class="header-content-inner">
            
            <span class="highlightme"><h1>Up the Elephant!</h1></span>
            <hr>
            <span style="highlightme"><h2>Stop Delancey destroying the Elephant & Castle</h2></span>
            <a href="http://35percent.org/shopping-centre/#object-now" class="btn btn-primary btn-xl page-scroll">Object Now</a>
        </div>
    </div>
</header>
