<header>
    <div class="header-content">
        <div class="header-content-inner">
            
            <h1>Up the Elephant!</h1>
            <hr>
            <h2>Save the Elephant from Delancey's destructive plans</h2>
	    <h3>Help us save the Elephant & Castle's vibrant multicultural community from developer Delancey's destructive plans. These will result in a homogeneous block of chain stores and luxury flats, which are of no benefit to the existing community of traders, or local users of the centre for whom it provides affordable retail and leisure activities (bingo/bowling). We are crowdfunding to challenge Delancey's planning consent for the scheme, We believe that Southwark has broken its own planning rules and has not taken sufficient account of the detrimental impact the redevelopment will have on minority groups.
		    </br>
		    We need donations in order for this legal change to succeed - £10,000 is our initial target. If we reach this target, the money will go directly to the Lambeth Law Centre and will be used to pay legal fees, any expert witness costs and any associated legal costs. By donating to our campaign you can help us in make London a city where its diverse community comes first - before the profits of property developers.  All contributions, big or small will help in this crucial fight.</h3>

            <a href="http://35percent.org/shopping-centre/#object-now" class="btn btn-primary btn-xl page-scroll">Donate Now</a>
        </div>
    </div>
</header>
