<header>
    <div class="header-content">
        <div class="header-content-inner">
            
            <h1>Up the Elephant!</h1>
            <hr>
            <h2>Save the Elephant from Delancey's destructive plans</h2>
	    <h3>Help us save the Elephant & Castle's vibrant multicultural community from Delancey's plans for chain stores and luxury flats, which are of no benefit to the existing community of traders, or local users of the centre for whom it provides affordable retail and activities (bingo/bowling). We are crowdfunding to challenge Delancey's planning consent for the scheme on the basis that Southwark has broken its own planning rules and has not taken sufficient account of the detrimental impact the redevelopment will have on minority groups.
		    </br>
		    We need donations in order for this legal change to succeed - £10,000 is our initial target. If we reach this target, the money will go directly to the Lambeth Law Centre and will be used to pay legal fees. By donating to our campaign you can help us to make London a city where its diverse community comes first - before the profits of property developers.  All contributions, big or small will help in this crucial fight.</h3>

            <a href="http://35percent.org/shopping-centre/#object-now" class="btn btn-primary btn-xl page-scroll">Donate Now</a>
        </div>
    </div>
</header>
