<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What's wrong with Delancey's plans for the Elephant & Castle?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Affordable Housing</h3>
                    <p class="text-muted">Delancey claims that providing the social rented housing required by policy is not viable; instead it proposes a number of homes at 'discounted rents' (up to 80% market) but only discounted for 15 years. Despite its new transparency policy the Council has refused to publish Delancey's viability assessment.</br> <a href="http://35percent.org/shopping-centre/#affordable-housing">Read more..</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
<i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    
                    <h3>Traders discarded</h3>
                    <p class="text-muted">Its diverse economy of small retailers are at the heart of the community and make Elephant & Castle the vibrant destination it is. Delancey has made no provision for existing traders in its plans. Southwark should not be using its CPO powers to help Delancey evict them.</br><a href="http://35percent.org/shopping-centre/#what-about-existing-retailers">Read more..</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
<i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    
                    <h3>Transport</h3>
                    <p class="text-muted">The plans make insufficient provison for the necessary transport infrastructure to support the high-density development as well as extra capacity requirements that will result from the proposed Bakerloo line extension - even TFL has objected to Delancey's plans. </br><a href="http://35percent.org/shopping-centre/#transport">Read more..</a><cp>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
<i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    
                    <h3>Offshore Elephant</h3>
                    <p class="text-muted">Delancey is using a network of shell companies registered in tax havens including Bermuda, Panama and the British Virgin Islands, in order to avoid paying tax. Southwark should not be making planning policy concessions for developers who don't pay their tax.</br> <a href="http://35percent.org/2014-05-05-manx-connections-the-off-shore-home-of-the-elephants-developers/">Read more..</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
