<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What's wrong with Delancey's plans?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Affordable Housing</h3>
                    <p class="text-muted">Delancey's planning application does not comply with policy; it does not propose any social rented housing; the few homes at 'discounted rents' it does propose will only be discounted for 15 years.</br> <a href="http://35percent.org/shopping-centre/#affordable-housing">Read more..</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Existing traders discarded</h3>
                    <p class="text-muted">Its diverse economy of small retailers make the Elephant the buzzing destination it is. Delancey has made no provision for existing traders in its plans. </br><a href="http://35percent.org/shopping-centre/#what-about-existing-retailers">Read more..</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Transport</h3>
                    <p class="text-muted">The plans make insufficient provison for transport infrastructure required to support the high-density development and extra capacity requirements resulting from the proposed Bakerloo line extension - even TFL has objected. </br><a href="http://35percent.org/shopping-centre/#transport">Read more..</a><cp>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Tax heaven at the Elephant</h3>
                    <p class="text-muted">Delancey is developing the Elephant using a network of shell companies in tax havens including Bermuda, Panama and the British Virgin Islands, partly funded by George Soros. It hasn't paid a penny of corporation tax on its neighbouring 'Elephant One' development. Southwark should not be making concessions for developers who don't pay their taxes.</br> <a href="http://35percent.org/2014-05-05-manx-connections-the-off-shore-home-of-the-elephants-developers/">Read more..</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
